<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="Content/css/styles.css">


    <title>Day of the week finder</title>
  </head>

  <body>
    <div class="container">
      <h1>Enter your date to see what day it was</h1>

      <form action="/" method="post">
        <input name = "day" placeholder = "Day"></input>
        <input name = "month" placeholder = "Month"></input>
        <input name = "year" placeholder = "Year"></input>
        <button class = "btn btn-info">What Day Was It?</button>
      </form>

      @{
        if(@Model != null)
        {
          <p>@Model</p>
          <form action="/">
            <button class = "btn btn-info">reset</button>
          </form>
        }

      }


    </div>
  </body>
</html>
